.carrousel-automatique {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;


    touch-action: pan-y;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide img {
    border-radius: 30rem;
}



.slide {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: contain;
    background: transparent;

    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide.active {
    opacity: 1;
}

/* boutons */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background: rgba(224, 0, 0, 0.3);
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* points */
.points {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.point {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;

    background: white;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.point.active {
    opacity: 1;
}